{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <body>
        <div class="container">
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2 style="font-family:rock salt"><a href="">{{ post.title }}</a></h2>
                <div class ="pink-text text-lighten-1">
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            </article>
        {% endfor %}
         <div class="row">
             {% for post in posts %}
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">{{ post.title }}</span>
                  <p>{{ post.text|linebreaksbr }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>

